// Paper component (item)
.itemPaperRoot {
  cursor: pointer;
  transition: border-color 0.2s, background-color 0.2s;
}

.selectedPaper {
  border-color: var(--mantine-color-blue-6);
  border-width: 2px;
  background-color: var(--mantine-color-blue-0);
}

.imageContainer {
  position: relative;
  height: 8rem;
  overflow: hidden;
  border-radius: 4px;
}

// Image component
.itemImageRoot {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

// Text component (filename)
.itemTextRoot {
  word-break: break-word;
}